/* ------------------------

    Common

------------------------ */
.full-page {
  height: 100vh;
}

/*section:not(:first-child) {
  padding: 50px 0;
}*/

body {
  background: #fff url("../images/background.png") repeat;
}

.content section {
  padding: 50px 0;
}

.content section:nth-child(even) {
  background-color: #b1ceff;
}

.content section h2 {
  margin: 0 0 25px 0;
  text-transform: uppercase;
}


/* Slide effect */

body.phone:not(.modify) {
  overflow: hidden;
}

body:not(.notrans) #home,
body:not(.notrans) > nav,
body:not(.notrans) > .content {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

body:not(.notrans) #home {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

body #home {
  position: absolute;
  z-index: 1500;
}

body > .content {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
  opacity: 0;
}

body.modify > nav,
body.modify > .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

body.modify #home {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9);
}

/* Delays */

body.modify:not(.notrans) > nav,
body.modify:not(.notrans) > .content {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}



/* ------------------------

    Home

------------------------ */

#home:after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 40px solid #fff;
}

#home {
  width: 100vw;
  height: 100vh;
  background: url("../images/background.jpg") 50% 50% no-repeat;
  background-size: cover;
}

#home:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
}

#home header{
  text-align: center;
  position: absolute;
  width: calc(80vw - 5px);
  top: 15vh;
  left: 10vw;
  height: calc(70vh - 5px);
  margin: 5px 0 0 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#home header h1{
  width: calc(100vw - 5px);
  font-size: 8vw;
  color: #000;
  margin: 0;
  padding: 0 0 0.35em;
  white-space: nowrap;
  opacity: 0;
}

#home.active header h1 {
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  -moz-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.phone #home header h1 {
  font-size: 9vw;
}

#home header p {
  margin: 0;
  font-size: 1.5em;
}

.phone #home header p {
  font-size: 1em;
}

@-webkit-keyframes tracking-in-contract{
  0%{
    letter-spacing:0.5em;
    opacity:0
  }
  40%{
    opacity:.6
  }
  100%{
    letter-spacing:normal;
    opacity:1
  }
}

@keyframes tracking-in-contract{
  0%{
    letter-spacing: 0.5em;
    opacity: 0
  }
  40%{
    opacity:.6
  }
  100%{
    letter-spacing:normal;
    opacity:1
  }
}

.decolines {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.decolines--fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.decoline {
  position: absolute;
}

@media screen and (max-width: 50em) {
  #home header {
    padding: 1em;
  }
  #home:after {
    border-width: 10px;
  }
}


/* Scroll down notice */

#scroll-down-notice {
  display: none;
  font-family: "Raleway";
  font-weight: bolder;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

body:not(.phone) #scroll-down-notice {
  background: #464646 -webkit-gradient(linear, left top, right top, from(#FFF), to(#FFF), color-stop(0.5, #8e8e8e)) 0 0 no-repeat;
  -webkit-background-size: 125px;

  color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;

  -webkit-animation-name: shine;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

#scroll-down-notice:before {
  content: "Scroll Down";
}

@-webkit-keyframes shine {
  0% { background-position: top left; }
  100% { background-position: top right; }
}

#scroll-down-notice:after {
  content: "";
  position: absolute;
  top: 2em;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -1em;
  border: 1em solid transparent;
  border-top: 1em solid #464646;
}

.phone #scroll-down-notice:before {
  content: "Press to enter";
}



/* ------------------------

    Navbar

------------------------ */

nav {
  position: fixed;
  background: #383838;
  z-index: 999;
}



/* ------------------------

    About

------------------------ */





/* ------------------------

    Media Queries

------------------------ */

@media (max-width: 991px) {
  body > nav {
    height: 3.5em;
    width: 100vw;
    top: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  body > .content {
    padding-top: 3.5em;
  }

  #about img {
    display: block;
    max-width: 150px;
    margin: 0 auto 25px;
  }
}

@media (min-width: 992px) {
  body > nav {
    height: 100vh;
    width: 300px;
    -webkit-transform: translateY(100vw);
    transform: translateY(100vw);
  }

  body > .content {
    margin-left: 300px;
  }

  section .container {
    width: auto;
    padding: 0 100px;
  }
}