.parallax {
  position: absolute;
  width: 100%;
  top: 0px;
}

.parallax_front {
  z-index:1;
}

.parallax_base {
  z-index:0;
}

#bg1{
    background: url("../img/DSC00063.JPG");
    background-size: cover;
    background-position: center;
    text-align: center;
}
