<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Emma Chung</title>
    <link rel="SHORTCUT ICON" href="./static/img/favicons/favicon.png" />
    <meta property="og:title" content="Emma Chung" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://emma2334.github.io/" />
    <meta
      property="og:image"
      content="https://emma2334.github.io/images/favicons/og.jpg"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Noto+Sans+TC:400,800"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./static/style/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="./static/style/normalize.min.css" />
    <link rel="stylesheet" href="./static/style/index.css" />
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/vue.min.js"></script>
  </head>
  <body>
    <div id="preload"></div>
    <section id="home">
      <header>
        <h1>Emma Chung</h1>
        <p>
          <a href="https://github.com/emma2334">GitHub</a>．
          <a href="https://emma2334.wordpress.com">Blog</a>
        </p>
      </header>
      <a id="scroll-down-notice" href="#about"></a>
    </section>
    <nav>
      <div class="name" v-on:click="scrollToTop">Emma Chung</div>
      <div class="menu">
        <a v-for="(e, key) in sections" :href="'#'+key">{{ e }}</a>
      </div>
      <icon-global class="lang" :onclick="switchLang">
        <language id="zh-tw">中文</language>
        /
        <language id="en">English</language>
      </icon-global>
    </nav>
    <div class="content">
      <section-template id="about">
        <div class="col-md-3">
          <img
            src="./static/img/profile.jpg"
            alt="profile pic"
            class="rounded-circle img-thumbnail img-responsive"
          />
        </div>
        <div class="col-md-9">
          <p v-for="e in parseContent(about)">{{ e }}</p>
        </div>
      </section-template>
      <section-template id="skill">
        <div v-for="(skill, type) in skills" class="wrapper col-md-6">
          <h3>{{ type }}</h3>
          <ul>
            <li v-for="(score, name) in skill">
              {{ name }}
              <span :data-score="score" :data-level="skillLevel(score)"></span>
            </li>
          </ul>
        </div>
      </section-template>
      <section-template id="experience">
        <work inline-template v-for="e in experience" :key="e[0]" :data="e">
          <div class="wrapper col-12">
            <i class="duration">{{ duration }}</i>
            <h3>
              {{ title }}，<a :href="url" target="_blank">{{ company }}</a>
            </h3>
            <ul>
              <li v-for="i in parseContent(info)" v-html="i"></li>
            </ul>
            <div class="tech">
              <span v-for="t in parseTags(tech)" class="tag">{{ t }}</span>
            </div>
          </div>
        </work>
      </section-template>
      <section-template id="portfolio">
        <card inline-template v-for="e in portfolio" :key="e[0]" :data="e">
          <div class="wrapper col-md-6">
            <div class="card">
              <div
                v-if="img"
                :style="`background-image: url(./static/img/portfolio/${img});`"
                class="img"
              ></div>
              <div class="info">
                <span class="type">{{ type }}</span>
                <h3>
                  {{ title }}
                  <icon-github v-if="github" :href="github" target="_blank">
                  </icon-github>
                  <icon-link v-if="link" :href="link" target="_blank">
                  </icon-link>
                </h3>
                <p>{{ des }}</p>
              </div>
              <div class="tags">
                <span v-for="tag in parseTags(tags)" class="tag reverse">
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
        </card>
      </section-template>
    </div>

    <script src="./static/js/view.js"></script>
    <script src="./static/js/index.js"></script>
  </body>
</html>
