/* ------------------------

  Common

------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff url('../img/background.png') repeat;
  font-family: 'Raleway', 'Noto Sans TC';
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

a {
  color: #964d38;
}

a:hover {
  color: #fd998e;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.icon {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content section {
  padding: 50px 0;
}

.content section.fadeIn .container {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  -moz-transition: transform 0.8s, opacity 0.8s, -moz-transform 0.8s;
  transition: transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s,
    -moz-transform 0.8s;
}

.content section.fadeIn.active .container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.content section:nth-child(even) {
  background-color: #fbf8f1;
}

.content section h2 {
  padding-left: 16px;
  border-left: solid 8px #fd998e;
  text-transform: uppercase;
}

.content section h2 i {
  font-size: 1rem;
  text-transform: unset;
}

.content section .row .wrapper {
  margin-bottom: 20px;
}

.content .tag {
  display: inline-block;
  font-size: 0.8rem;
  margin: 2px;
  padding: 3px;
  border: 1px solid;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #964d38;
}

.content .tag.reverse {
  margin: 1px;
  color: #fff;
  background-color: #964d38;
}

@media (max-width: 991.98px) {
  body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #home {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  nav {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .content {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (min-width: 992px) {
  .content {
    margin-top: -100vh;
  }

  .content > section {
    padding-left: 300px;
  }

  section .container {
    width: auto;
    padding: 0 100px;
  }
}

/* ------------------------

  Preloader

------------------------ */
#preload {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: white url(../img/preloader.gif) no-repeat center;
}

#preload.hide {
  opacity: 0;
  transition: opacity 0.8s;
}

/* ------------------------

  Home

------------------------ */
#home {
  height: 100vh;
  background: #9d9d9d url('../img/cover.jpg') 50% 50% no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

#home:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

#home header {
  text-align: center;
  position: absolute;
  width: -moz-calc(80vw - 5px);
  width: calc(80vw - 5px);
  top: 15vh;
  left: 10vw;
  height: -moz-calc(70vh - 5px);
  height: calc(70vh - 5px);
  margin: 5px 0 0 5px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  color: #000;
}

#home header h1 {
  overflow: hidden;
  position: relative;
  font-size: 8vw;
  line-height: 1.5;
  margin-bottom: 1rem;
  white-space: nowrap;
  opacity: 0;
}

#home.active header h1 {
  padding: 0 1em;
  opacity: 1;
  color: #fff;
  -webkit-transition: opacity 0.8s, color 0.8s ease 2s;
  -moz-transition: opacity 0.8s, color 0.8s ease 2s;
  transition: opacity 0.8s, color 0.8s ease 2s;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  -moz-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

#home header h1:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#home.active header h1:before {
  max-width: 100%;
  -webkit-transition: max-width 0.8s ease 2s;
  -moz-transition: max-width 0.8s ease 2s;
  transition: max-width 0.8s ease 2s;
}

#home header p {
  margin: 0;
  font-size: 1.5rem;
}

#home header p a {
  color: #000;
}

#home header p a:hover {
  color: #fd998e;
}

.phone #home header p {
  font-size: 1em;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-moz-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* Scroll down notice */
.active #scroll-down-notice {
  opacity: 1;
  -webkit-transition: opacity 0.35s ease-in-out 2s;
  -moz-transition: opacity 0.35s ease-in-out 2s;
  transition: opacity 0.35s ease-in-out 2s;
  font-family: 'Noto Sans TC';
}

#scroll-down-notice {
  font-weight: bolder;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

body:not(.phone) #scroll-down-notice {
  background: #000 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fff),
      to(#fff),
      color-stop(0.5, #8e8e8e)
    ) 0 0 no-repeat;
  -webkit-background-size: 125px;

  color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;

  -webkit-animation-name: shine;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

#scroll-down-notice:before {
  content: 'Scroll Down';
}

@-webkit-keyframes shine {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

#scroll-down-notice:after {
  content: '';
  position: absolute;
  top: 2em;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -1em;
  border: 1em solid transparent;
  border-top: 1em solid #000;
}

@media (max-width: 991.98px) {
  #home header p {
    font-size: 1em;
  }
}

/* ------------------------

  Navbar

------------------------ */

nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  background: #383838;
  color: #fff;
  z-index: 1;
  -webkit-transition: transform 0.8s;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -moz-transition: transform 0.8s, -moz-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s, -moz-transform 0.8s;
}

nav.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

nav .name {
  display: none;
}

nav a {
  position: relative;
  color: #fff;
  line-height: 2;
  text-transform: uppercase;
}

nav a:before {
  content: '';
  position: absolute;
  display: block;
  background-color: #fd998e;
}

nav .lang svg {
  cursor: pointer;
  font-size: 1.2rem;
}

nav .lang input {
  display: none;
}

nav .lang label {
  line-height: 3;
  padding: 0 0.5rem;
  cursor: pointer;
}

/*nav .lang input:checked + label,*/
nav .lang svg:hover,
nav .lang label:hover {
  color: #fd998e;
}

@media (max-width: 575.98px) {
  nav .name {
    display: block;
    padding: 0 1rem;
    cursor: pointer;
  }

  nav .menu {
    display: none;
  }
}

@media (max-width: 991.98px) {
  nav {
    position: fixed;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    width: 100vw;
    top: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  nav a {
    display: inline-block;
    padding: 0 1rem;
  }

  nav a:before {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }

  nav a.active:before {
    width: 30px;
  }

  nav .lang {
    font-size: 0;
    padding: 0 1rem;
  }

  nav .lang label {
    display: none;
  }
}

@media (min-width: 992px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    -webkit-transform: translateY(100vw);
    -moz-transform: translateY(100vw);
    -ms-transform: translateY(100vw);
    transform: translateY(100vw);
  }

  nav a {
    display: block;
    padding: 0 1.5em;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    transition: background-color 0.8s;
    line-height: 3;
  }

  nav a.active,
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  nav a:before {
    left: 0;
    width: 8px;
    height: 100%;
    max-height: 0;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }

  nav a.active:before {
    max-height: 100%;
  }

  nav .lang {
    padding: 0 1.5rem;
    background-color: #2b2b2b;
  }
}

/* ------------------------

  About

------------------------ */
#about img {
  padding: 0.25rem;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #dee2e6;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  #about img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
}

/* ------------------------

  Skill

------------------------ */
#skills h3 {
  text-transform: uppercase;
  padding-bottom: 0.375em;
  border-bottom: 1px solid #dcdcdc;
}

#skills ul {
  padding-left: 0;
}

#skills li {
  list-style: none;
}

#skills [data-score] {
  position: relative;
  width: 40%;
  height: 1em;
  padding: 1px;
  float: right;
  background: #f7f7f7;
  background: -moz-linear-gradient(left, #ffc0b5 50%, white 50%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #ffc0b5),
    color-stop(50%, white)
  );
  background: linear-gradient(to right, #ffc0b5 50%, white 50%);
  -moz-background-size: 200% 100%;
  background-size: 200% 100%;
  background-position-x: right;
  background-position-y: bottom;
  -webkit-transition: background-position-x 0.8s;
  -moz-transition: background-position-x 0.8s;
  transition: background-position-x 0.8s;
}

#skills.active [data-score='1'] {
  background-position-x: 80%;
}

#skills.active [data-score='2'] {
  background-position-x: 60%;
}

#skills.active [data-score='3'] {
  background-position-x: 40%;
}

#skills.active [data-score='4'] {
  background-position-x: 20%;
}

#skills.active [data-score='5'] {
  background-position-x: 0;
}

#skills [data-score]:before {
  content: attr(data-level);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: capitalize;
}

/* ------------------------

  Experience

------------------------ */
#experience .duration {
  font-size: 0.9rem;
  color: #964d38;
}

#experience h3 {
  text-transform: capitalize;
}

#experience h3 a {
  color: #000;
  font-size: 0.9rem;
}

#experience h3 a:hover {
  color: #fd998e;
}

#experience .tech {
  text-align: right;
}

/* ------------------------

  Portfolio

------------------------ */
#portfolio .card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

#portfolio .card .img {
  padding-top: 62.5%;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#portfolio .card h3 {
  margin-bottom: 10px;
}

#portfolio .card p {
  margin-top: 0;
}

#portfolio .card .info {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 8px;
}

#portfolio .card .type {
  font-size: 0.7rem;
  color: #964d38;
}

#portfolio .card .icon {
  margin: 0 2px;
}

#portfolio .card .tags {
  padding: 0 8px 8px;
}
